<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StrConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(COMMUNITY=TCP.world)(PROTOCOL=TCP)(Host=10.8.211.47)(Port=1521))(CONNECT_DATA=(SID=SUDBH1)));user id=dbe;password=dbedbe" />
  </connectionStrings>
</configuration>