<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="conn" connectionString="server=.;database=AndonForABS8_2015091801;user id=sa;password=123456" />-->
    <!--<add name="conn" connectionString="server=.;database=master;user id=sa;password=123456" />-->
    <!--<add name="conn" connectionString="server=10.8.214.222;database=master;user id=Andon;password=andon123" />-->
    <!--<add name="conn" connectionString="server=10.8.214.222;database=DBAJAndon;user id=Andon;password=andon123" />-->
    <add name="conn" connectionString="server=10.8.214.222;database=AndonForABS8;user id=Andon;password=andon123" />
    


    <add name="SqlCommand" connectionString="
                          update tbPro_Production set ProductionStatus=2 where Id=(select top 1 Id from tbPro_Production where LineId=3 order by RealEndTime desc)
                            update tbPro_Production set ProductionStatus=2 where Id=(select top 1 Id from tbPro_Production where LineId=4 order by RealEndTime desc)
                                update tbPro_Production set ProductionStatus=2 where Id=(select top 1 Id from tbPro_Production where LineId=5 order by RealEndTime desc)
                                    update tbPro_Production set ProductionStatus=2 where Id=(select top 1 Id from tbPro_Production where LineId=6 order by RealEndTime desc)" />

    <add name="Sql" connectionString="select l.LineName,i.Day,i.DayShiftFlag,d.* from tbDailyShiftInfo d
    LEFT JOIN tbDayInfo i ON i.Id=d.DayInfoId
    LEFT JOIN tbDic_Line l ON l.Id=i.LineId
    WHERE i.Day>='20150314' and LineId=3

    update tbLineSynTime set DayShift=NULL where DayStr=20150314 and LineId=3"/>
  </connectionStrings>
</configuration>