<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="StrConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(COMMUNITY=SUDBL17.WORLD)(PROTOCOL=TCP)(Host=10.54.5.205)(Port=38020))(CONNECT_DATA=(SID=SUDBL17)));user id=andonrd;password=andonrd" />-->
    <add name="ABS9MESConn" connectionString="Data Source=(Description=(Address=(community=tcp.world)(protocol=tcp)(Host=10.8.211.166)(Port=1521))(connect_data=(sid=szp1abs9)));user id=abs9rd;password=abs9rd" />
  </connectionStrings>
</configuration>