<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--测试使用-->
    <!--<add name="FileSystemConn" connectionString="server=.;database=ABS8FileSystem;user id=sa;password=123456"/>
    <add name="conn" connectionString="server=.;database=AndonForABS8_2015012602;user id=sa;password=123456" />-->
    <!--测试使用-->

    <!--Output内部使用-->
    <!--AJ.Andon.Entity.DALLib使用-->
    <add name="FileSystemConn" connectionString="server=10.8.214.222;database=ABS8FileSystem;user id=Andon;password=andon123"></add>
    <add name="conn" connectionString="server=10.8.214.222;database=AndonForABS8;user id=Andon;password=andon123" />
    <!--访问Oracle数据库使用-->
    <add name="FMSConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(COMMUNITY=TCP.world)(PROTOCOL=TCP)(Host=10.8.211.47)(Port=1521))(CONNECT_DATA=(SID=SUDBH1)));user id=dbe;password=dbedbe" />
    <add name="MESConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(COMMUNITY=SUDBL17.WORLD)(PROTOCOL=TCP)(Host=10.54.5.205)(Port=38020))(CONNECT_DATA=(SID=SUDBL17)));user id=andonrd;password=andonrd" />
  </connectionStrings>
</configuration>